<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'login'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <form (ngSubmit)="loginUser()" #loginForm="ngForm">
    <ion-grid padding-top padding-bottom>
      <ion-row justify-content-center text-center>
        <ion-col align-self-center size-md="6" size-lg="8" size-xs="12">

          <ion-row justify-content-center padding-top>
            <ion-col size="12">
              <ion-item>
                <ion-icon color="secondary" name="mail" slot="start" padding-end></ion-icon>
                <ion-input type="email"
                  pattern="[A-Za-z0-9._%+-]{1,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                  maxlength="255" name="email" email #email="ngModel" required ngModel
                  placeholder="your@email.com" padding-start>
                </ion-input>
                <ion-note color="danger" slot="end" *ngIf="! email.toutch && email.invalid" >*</ion-note>
                <ion-icon color="success" name="checkmark-circle" *ngIf="email.valid && email.dirty" slot="end">
                </ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col size="12">
              <ion-item>
                <ion-icon color="secondary" name="lock" slot="start" padding-end></ion-icon>
                <ion-input type="password" name="password" minlength="8" #password="ngModel" required ngModel
                  placeholder="{{'password'|translate}}" padding-start>
                </ion-input>
                <ion-note color="danger" slot="end" *ngIf="! password.toutch && password.invalid" >*</ion-note>
                <ion-icon color="success" name="checkmark-circle" *ngIf="password.valid && password.dirty" slot="end">
                </ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row margin-top padding-bottom>
            <ion-col col-8 offset-2>
              <ion-button color="primary" expand="block" size="large" type="submit" [disabled]='!loginForm.valid'>
                {{'login'|translate}}</ion-button>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center text-center>
            <ion-col>
              <ion-label color="primary">{{'Question'|translate}} <a routerLink="/register">{{'register'|translate}}
                </a>
              </ion-label>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>