<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{dataShow.role}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="8" size-xs="12">
        <form #editRole="ngForm">
          <ion-card>
            <ion-card-header color="primary">
              <ion-card-title color="primary">
                <ion-grid>
                  <ion-row justify-content-center>
                    <ion-col align-self-center size-xs="12">
                      <ion-row justify-content-center>
                        <ion-col size-md="8" size-xs="12">
                          <ion-item>
                            <ion-input type="text" minlength="3" name="name"
                              required ngModel #name="ngModel"
                              placeholder="{{dataShow.title}}">
                            </ion-input>
                            <ion-icon color="success" name="checkmark-circle"
                              *ngIf="name.valid && name.dirty"></ion-icon>
                          </ion-item>
                        </ion-col>
                        <ion-col size-md="4" size-xs="12">
                          <ion-button expand="full" type="submit"
                            color="light" (click)="edit(editRole)">
                            {{dataShow.update}}
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list *ngIf="permissions">
                <ion-list-header>
                  <ion-label color="primary" style="font-weight:
                    bold;font-size:15px;" *ngIf="permissions">{{dataShow.permissions}}</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let per of permissions">{{per.name}}</ion-item>
              </ion-list>
              <ion-row justify-content-center>
                <ion-col size-md="6" size-xs="12">
                  <ion-row justify-content-center>
                    <ion-col size-md="6" size-xs="12">
                      <ion-button expand="full" type="submit" color="danger"
                        (click)="deleteRole()">
                        {{ dataShow.delete}}
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>