<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{role.edit}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-row justify-content-center>
      <ion-col size-md="6">
        <ion-item>
          <ion-input type="text" minlength="3" name="first_name" required ngModel #fname="ngModel"
            placeholder="{{role.title}}">
          </ion-input>
          <ion-icon color="success" name="checkmark-circle" *ngIf="fname.valid && fname.dirty"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
   <ion-row justify-content-center>
     <ion-col size-md="6">
        <ion-list>
            <ion-item>
              <ion-label>{{role.selectPermission}}</ion-label>
              <ion-select #sel okText="{{role.ok}}" cancelText="{{role.cancel}}" multiple="true" (ionChange)="selectOpt(sel)">
                  <ion-select-option value="Permissions1">Permissions1</ion-select-option>
                  <ion-select-option  selected value="Permissions2">Permissions2</ion-select-option>
                  <ion-select-option value="Permissions3">Permissions3</ion-select-option>
                  <ion-select-option value="Permissions4">Permissions4</ion-select-option>
                  <ion-select-option value="Permissions5">Permissions5</ion-select-option>
                  <ion-select-option value="Permissions6">Permissions6</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- <ion-item *ngFor="let d of dataMember">
                {{d}}
              </ion-item> -->
          </ion-list>
     </ion-col>
   </ion-row>
    <ion-row margin-top padding-bottom justify-content-center>
      <ion-col size-md="6">
        <ion-button expand="full" size="large" type="submit" color="primary" routerLink="/admin/roles">
          {{role.save}}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
</ion-content>