<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'add-city'|translate}}</ion-title>
    <ion-icon style="cursor: pointer;" slot="end" name="close" (click)="cancel()" padding-end></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #createCity="ngForm" (ngSubmit)="addCity()">
    <ion-grid *ngIf="countries">
      <ion-row justify-content-center>
        <ion-col align-self-left size-md="6" size-lg="8" size-xs="12">

          <ion-item padding-top>
            <ion-select (ionChange)="changeCountry($event)" placeholder="{{'address-country' | translate}}"
              okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}" required padding-start>
              <ion-select-option *ngFor="let country of countries" [value]="country.id">{{country.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item padding-top>
            <ion-label color="dark" *ngIf="!states.length"> {{'state-msg' | translate}}</ion-label>
            <ion-select *ngIf="states.length" ngModel name="state_id" placeholder="{{'address-state' | translate}}"
              okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}" required padding-start>
              <ion-select-option *ngFor="let state of states" [value]="state.id">{{state.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item padding-top>
            <ion-input name="name" type="text" placeholder="{{'address-city' | translate}}" ngModel required
              padding-start minlength="3">
            </ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-button color="primary" [disabled]='!createCity.valid ' size="large" type="submit" expand="block">
                {{'save'|translate}}
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>