<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{'addresses'|translate}}</ion-title>
      <ion-icon style="cursor: pointer;" slot="end" name="close" (click)="cancel()" padding-end></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <!-- Custom Refresher Content -->
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="ionRefresh($event)">
      <ion-refresher-content refreshingText="{{'Refreshing'|translate}}">
      </ion-refresher-content>
    </ion-refresher>
  
    <ion-grid *ngIf="dataListPagination">
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="6" *ngFor="let address of dataListPagination">
          <ion-card (click)="openDetail(address?.id)">
            <ion-card-header>
              <ion-card-title color="primary">
                {{address?.title}}
              </ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              <ion-row>
                <ion-card-content>
                  {{dataShow.street}} : {{address?.street}}
                </ion-card-content>
              </ion-row>
  
              <ion-row>
                <ion-card-content>
                  {{dataShow.country}} : {{address?.country}}
                </ion-card-content>
              </ion-row>
  
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid *ngIf="addressesError">
      <ion-row justify-content-center text-center>
        <ion-col size-xs="10" size-md="8" text-center>
          <ion-card margin>
            <ion-card-content>
              <ion-list>
                <ion-label color="danger"> {{addressesError}}</ion-label>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" mini (click)="addAddress()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataPagination($event)">
      <ion-infinite-scroll-content loadingText="{{'Loading-more-data'|translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
  
  
  
  </ion-content>