<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'start-Authentication'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12">
        <ion-button color="primary" expand="block" size="large" (click)="login()">{{'start-login'|translate}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="12">
        <ion-button color="primary" expand="block" size="large" (click)="register()" >{{'start-register'|translate}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center text-center>
      <ion-col>
        <a color="secondry" (click)="openPrivacy()">{{'start-privacy'|translate}} </a>
      </ion-col>
    </ion-row>
</ion-grid>
