<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>{{usersData.users}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <!-- Custom Refresher Content -->
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="ionRefresh($event)">
      <ion-refresher-content refreshingText="{{'Refreshing'|translate}}">
      </ion-refresher-content>
    </ion-refresher>

    <ion-grid *ngIf="dataListPagination">
      <ion-row justify-content-center>
        <ion-col size-md="8" size-xs="12">
          <ion-list *ngFor="let user of dataListPagination">
            <ion-item lines="full" routerLink="/admin/user/{{user.id}}">
                <ion-icon color="primary" slot="start" name="contact"></ion-icon>
                <ion-label> {{user.first_name}} {{user.last_name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button size="small" color="primary" (click)="useFilter()">
        <ion-icon name="flask" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->

    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addUsers()">
      <ion-fab-button size="small" color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataPagination($event)">
      <ion-infinite-scroll-content loadingText="{{'Loading-more-data'|translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
