<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'admin'|translate}}</ion-title>
    <ion-icon style="cursor: pointer;" slot="end" name="close"
      (click)="cancel()" padding-end></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center text-center>
      <ion-col size-xs="12">
        <ion-row justify-content-center text-center>
          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="open()">
              <ion-card-content>
                <ion-icon name="contacts" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px">{{admin.users}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="openRoles()">
              <ion-card-content>
                <ion-icon name="lock" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px"> {{admin.roles}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="openAgents()">
              <ion-card-content>
                <ion-icon name="bicycle" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px">{{admin.agents}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="openAttributes()">
              <ion-card-content>
                <ion-icon name="grid" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px">{{admin.attributes}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="openOrders()">
              <ion-card-content>
                <ion-icon name="filing" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px"> {{admin.orders}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="openContacts()">
              <ion-card-content>
                <ion-icon name="call" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px">{{admin.contacts}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="openCities()">
              <ion-card-content>
                <ion-icon name="home" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px"> {{admin.cities}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-card color="medium" (click)="openAddresses()">
              <ion-card-content>
                <ion-icon name="pin" color="primary" size="large"
                  style="width:60px;height:60px;margin:auto"></ion-icon><br>
                <ion-label color="primary" style="font-weight:
                  bold;font-size:15px"> {{admin.addresses}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
              <ion-card color="medium" (click)="openNotifications()">
                <ion-card-content>
                  <ion-icon name="notifications-outline" color="primary" size="large"
                    style="width:60px;height:60px;margin:auto"></ion-icon><br>
                  <ion-label color="primary" style="font-weight:
                    bold;font-size:15px">{{admin.notifications}}</ion-label>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>