<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{dataShow.addContact}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-xs="12" size-md="8">
    <form #createContact="ngForm" (ngSubmit)="addContact()">
      <ion-grid>
        <ion-row>
          <ion-col align-self-left   size-xs="12">
            <ion-item padding-top>
              <ion-input type="text"
                name="phone_num" placeholder="{{dataShow.phoneNum}}"
                [(ngModel)]="model.phone_num"
                #phone_num="ngModel" [ngClass]="{ 'is-invalid': !phone_num.toutch
                &&
                phone_num.invalid }" required padding-start
                minlength="3">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row margin-top padding-bottom>
          <ion-col col-8 offset-2>
            <ion-button
              id="btnExcel"
              #butRegister
              id="butReg"
              minlength="8"
              expand="full"
              color="primary"
              class="shadow-red"
              size="large"
              type="submit"
              [disabled]='!createContact.valid '>
              {{dataShow.create}}
            </ion-button>
  
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>