<ion-header>
  <ion-toolbar color="primary">
    <ion-icon style="cursor: pointer;" slot="end" name="close" (click)="cancel()" padding-end></ion-icon>
    <ion-title>{{dataShow.contacts}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content refreshingText="{{'Refreshing'|translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6" *ngFor="let contact of dataListPagination">
        <ion-card (click)="openContact(contact?.id)">
          <ion-card-header>
            <ion-card-title>
              <ion-icon color="primary" name="person"></ion-icon> {{contact?.user.first_name}}
              {{contact?.user.last_name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon color="primary" name="call"></ion-icon> {{contact?.phone_num.phone_num}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="contactsError">
    <ion-row justify-content-center text-center>
      <ion-col size-xs="10" size-md="8" text-center>
        <ion-card margin>
          <ion-card-content>
            <ion-list>
              <ion-label color="danger"> {{contactsError}}</ion-label>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" mini (click)="addContact()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataPagination($event)">
    <ion-infinite-scroll-content loadingText="{{'Loading-more-data'|translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>