<ion-header>
  <ion-toolbar color="primary">
    <ion-icon style="cursor: pointer;" slot="end" name="close" (click)="cancel()" padding-end></ion-icon>
    <ion-title>{{'add-attribute'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #createAttributes="ngForm" (ngSubmit)="addAttributes()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size-md="9" size-lg="8" size-xs="12">

          <ion-item padding-top>
            <ion-label>{{dataShow.name}} : </ion-label>
            <ion-input name="name" type="text" ngModel required>
            </ion-input>
          </ion-item>

          <ion-item padding-top>
            <ion-label>{{dataShow.type}} : </ion-label>
            <ion-select ngModel name="type" placeholder="{{'select-one' | translate}}" okText="{{'ok' | translate}}"
              cancelText="{{'cancel' | translate}}" required>
              <ion-select-option *ngFor="let t of type" [value]="t.name">{{t.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item padding-top>
            <ion-label>{{dataShow.assigned_for}} : </ion-label>
            <ion-select ngModel name="assigned_for" placeholder="{{'select-one' | translate}}"
              okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}" required padding-start>
              <ion-select-option *ngFor="let a of assigned_for" [value]="a.name">{{a.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item padding-top>
            <ion-label>
              {{dataShow.is_required}} :
            </ion-label>
            <ion-radio-group ngModel name="is_required">
              <ion-item lines="none">
                <ion-label>{{is_required.yes}}</ion-label>
                <ion-radio slot="start" value="1" checked></ion-radio>
              </ion-item>

              <ion-item lines="none">
                <ion-label>{{is_required.no}}</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>

          <ion-item padding-top padding-bottom>
            <ion-list>
              <ion-label>
                {{dataShow.keys}} :
              </ion-label>
              <ion-item color="light" *ngFor="let count of keyNumbers; let idx = index" padding-top padding-bottom>
                <ion-input name="keys[{{idx}}]" type="text" [(ngModel)]="keys[idx]" required></ion-input>
              </ion-item>
              <ion-buttons>
                <ion-icon slot="end" color="primary" name="add-circle-outline" (click)="addKeys()"></ion-icon>
              </ion-buttons>
            </ion-list>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-button color="primary" size="large" type="submit" expand="block">
                {{'save'|translate}}
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>