<ion-header>
    <ion-toolbar color="primary">
        <ion-icon style="cursor: pointer;" slot="end" name="close" (click)="cancel()" padding-end></ion-icon>
      <ion-title>{{role.addRole}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-grid>
    <form (ngSubmit)="addRole(roleForm)" #roleForm="ngForm">
      <ion-row justify-content-center>
        <ion-col size-md="6">
          <ion-item>
            <ion-input type="text" minlength="3" name="name" required ngModel #name="ngModel"
              placeholder="{{role.title}}">
            </ion-input>
            <ion-icon color="success" name="checkmark-circle" *ngIf="name.valid && name.dirty"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
     <ion-row justify-content-center>
       <ion-col size-md="6">
          <ion-list>
              <ion-item>
                <ion-label>{{role.selectPermission}}</ion-label>
                <ion-select name="permissions" ngModel okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}"
                multiple="true">
                <ion-select-option *ngFor="let per of permissions" [value]="per.name">{{per.name}}
                </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
       </ion-col>
     </ion-row>
      <ion-row margin-top padding-bottom justify-content-center>
        <ion-col size-md="6">
          <ion-button expand="full" size="large" type="submit" color="primary" [disabled]='!roleForm.valid'>
            {{role.create}}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>





<!-- <ion-content padding>
  <ion-grid>
    <form (ngSubmit)="addRole(roleForm)" #roleForm="ngForm">
      <ion-row justify-content-center>
        <ion-col align-self-left size-md="6" size-lg="5" size-xs="12">
            <ion-col size="6">
              <ion-item padding-top>
                <ion-input type="text" name="name" minlength="3" required ngModel #name="ngModel"
                  placeholder="{{role.title}}">
                </ion-input>
                <ion-icon color="success" name="checkmark-circle" *ngIf="name.valid && name.dirty"></ion-icon>
              </ion-item>
            </ion-col>
        </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-col size="12">
                  <ion-item padding-top>
                    <ion-label position="stacked">{{role.selectPermission}} : </ion-label>
                      <ion-select name="roles" ngModel okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}"
                        multiple="true">
                        <ion-select-option *ngFor="let role of Roles" [value]="role">{{role}}
                        </ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-col>
            </ion-row>
  
          <ion-row margin-top padding-bottom justify-content-center>
            <ion-col size-md="8">
              <ion-button expand="full" size="large" type="submit" color="primary" [disabled]='!roleForm.valid'>
                {{role.create}}</ion-button>
            </ion-col>
          </ion-row>
    </form>
  </ion-grid>
  </ion-content> -->