<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'home'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-card no-margin margin-bottom>
        <ion-card-header>
          <h4 ion-text color="dark">App Dashboard</h4>
        </ion-card-header>
        <ion-card-content>
          <p> No Home Page Yet...<br>
            will use it for staging instead :)
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card no-margin margin-bottom>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon name="globe" slot="start"></ion-icon>
              <h2 ion-text color="dark">Nothing Yet...</h2>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
